**/node_modules/
**/dist/
**/dist-types/
**/dist-scalprum/
**/dist-dynamic/
**/coverage/
.npmrc
.env
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
.turbo/
**/dist-plugin/
.npm/
.cache/
